.common-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style-type: none;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  height: 70px;
  margin: 0;
  padding: 0 0 10px 0;
  background: #f8edd5;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 550px;
  z-index: 10;
}
.back-btn-wrapper {
  margin-left: 21px;
  margin-right: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
}
.back-btn {
  background-color: transparent;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  color: #626262;
}
.back-btn img {
  height: 14px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
}
.chef-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #626262;
}
.chef-caption {
  font-size: 12px;
  line-height: 14px;
  color: #626262;
  font-weight: normal;
}
.msg-btn-div {
  margin-left: auto;
  margin-right: 22px;
}
@media only screen and (max-width: 576px) {
  .msg-btn-div {
    margin-right: 20px;
  }
}
@media only screen and (max-width: 320px) {
  .msg-btn-div {
    margin-right: 15px;
  }
}
.btn-msg {
  background-color: transparent;
  border: 0px;
  width: 32px;
  height: 32px;
  padding: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
@media only screen and (max-width: 576px) {
  .btn-msg {
    width: 24px;
    height: 24px;
  }
}
